@model IList<CompanyRequestViewModel>

@{
    ViewData["Title"] = "CompanyRequests";
}


    <div class="container container-large shadow pr-4 pl-4 pb-4 mb-4 bg-white">
        <div class="mobile-fondsize-20 h3 text-center text-dark font-weight-bold pb-2">Companies Requests</div>
        <table class="table table-hover">
            <thead>
                <tr class="row">
                    <th scope="col" class="col-md-2 col d-flex justify-content-center font-weight-bold">Name</th>
                    <th scope="col" class="col-md-1 col d-flex justify-content-center font-weight-bold">Unique Identifier</th>
                    <th scope="col" class="col-md-2 col d-flex justify-content-center font-weight-bold">Liable Person</th>
                    <th scope="col" class="col-md-2 col d-flex justify-content-center font-weight-bold">Email</th>
                    <th scope="col" class="col-md-1 col d-flex justify-content-center font-weight-bold">Phone Number</th>
                    <th scope="col" class="col-md-2 col d-flex justify-content-center font-weight-bold">Country / City</th>
                    <th scope="col" class="col-md-2 col d-flex justify-content-center font-weight-bold">Company Website</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var company in Model)
                {
                <tr class="row">
                    <td class="col-md-2 col d-flex justify-content-center">
                        @company.CompanyName
                    </td>
                    <td class="col-md-1 col d-flex justify-content-center">
                        @company.CompanyUniqueIdentifier
                    </td>
                    <td class="col-md-2 col d-flex justify-content-center">
                        @company.CompanyLiablePerson
                    </td>
                    <td class="col-md-2 col d-flex justify-content-center">
                        @company.CompanyEmail
                    </td>
                    <td class="col-md-1 col d-flex justify-content-center">
                        @company.CompanyPhoneNumber
                    </td>
                    <td class="col-md-2 col d-flex justify-content-center">
                        @company.Country.Name / @company.City
                    </td>
                    <td class="col-md-2 col d-flex justify-content-center">
                        @company.CompanyWebsite
                    </td>
                    <td class="col-md-2 col d-flex justify-content-around">
                        @*<div class="mr-2">
                <a asp-area="Administration" asp-controller="CompanyRequests" asp-action="Remove" asp-route-username="@company.Name" class="btn btn-danger btn-sm">Премахни</a>
            </div>*@
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>

